body {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.background {
  background-color: #3C4865;
  padding: 10px;
  text-align: center;
}

.titre {
  color: #F2F6F9;
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}

.def {
  color: #F2F6F9;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  font-weight: 200;
  text-align: justify;
  padding-top: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 25px; /* Espacement horizontal entre les images */
}

.images-roche,
.images-souffre {
  width: 35%;
  border-radius: 37px;
  height: auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}


.image-volcan{
  width: 45%;
  border-radius: 37px;
  height: auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}