
body {
  font-family: 'SphereFez', sans-serif;
  margin: 0;
  padding: 0;
}

.space-header{
  padding-top: 8%;
}
.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-wrapper {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.earth {
  width: 40%;
  max-width: 600px; /* Limiter la largeur de l'image */
}

.text-wrapper {
  margin-left: 20px;
}

.accroche {
  color: #F2F6F9;
  font-size: 260%; /* Utiliser des unités relatives pour le texte */
  font-weight: 700; /* Met le texte en gras */
  text-align: center;
  
}

.text-home {
  color: #F2F6F9;
  font-family: 'Poppins', sans-serif;
  font-size: 130%; /* Utiliser des unités relatives pour le texte */
  padding-top: 50px;
  text-align: center;
  margin-right: 50px;
}

.Apropos {
  background-color: #3C4865;
  padding: 50px;
  text-align: center;
}

.but {
  color: #F2F6F9;
  font-size: 260%; /* Utiliser des unités relatives pour le texte */
  font-weight: 700; /* Met le texte en gras */
  text-align: center;
  margin-top: 120px;
}

.text-but {
  color: #F2F6F9;
  font-family: 'Poppins', sans-serif;
  font-size: 130%; /* Utiliser des unités relatives pour le texte */
  text-align: center;
  padding-top: 50px;
}

.sectionTerre {
  display: flex;

  
}

.content-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.tilteearth {
  color: #F2F6F9;
  font-size: 260%; /* Utiliser des unités relatives pour le texte */
  font-weight: 700; /* Met le texte en gras */
  text-align: center;
  margin-top: 0px;
}

.earth2 {
  width: 100%;
  max-width: 800px; /* Limiter la largeur de l'image */
  margin-top: -20px;
}

.text-connect {
  color: #F2F6F9;
  font-family: 'Poppins', sans-serif;
  font-size: 130%; /* Utiliser des unités relatives pour le texte */
  padding-top: 20px;
  text-align: center;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 150%; /* Utiliser des unités relatives pour le texte */
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #232A3C;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  margin-top: 50px;
  margin-bottom: 0px;
}

.styled:hover {
  background-color: #3C4865;
}

.styled:active {
  box-shadow: inset -2px -2px 3px #9DA4B3, inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.pad2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}


.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between; /* Espacement égal entre les trois premières images */
  gap: 100px; /* Espacement horizontal entre les images */
}


.icon-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: space-between; /* Espacement égal entre les trois premières images */
  gap: 100px; /* Espacement horizontal entre les images */
}

.icon img, .icon1 img {
  width: 250px;
  height: auto;
  border-radius: 37px; /* Ajout du bord arrondi */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); /* Ajout de l'ombre avec un effet diffusé */
}

.icon {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(0.88);
}



.styled2 {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 150%; /* Utiliser des unités relatives pour le texte */
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #232A3C;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  margin-bottom: 20px;
}

.styled2:hover {
  background-color: #3C4865;
}

.styled2:active {
  box-shadow: inset -2px -2px 3px #9DA4B3, inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}