body {
    font-family: 'SphereFez', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .space-header{
    padding-top: 8%;
  }

  .pad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  
/*bouton*/ 
  button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }
  
  button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
  button:hover span {
    transform: translateX(7px);
  }



/*bouton JS*/
.btn {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn:not(:last-child) {
    margin-right: 10px;
  }
  
  #content {
    margin-top: 20px;
  }