body{
    font-family: poppins;
}  
.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    box-sizing: border-box;
  }
  
  
  .content-wrapper {
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
  
  .earth {
    width: 40%; /* Ajustez la taille du gif selon vos besoins */
  }
  
  .text-wrapper {
    margin-left: 20px; /* Ajustez la marge entre le gif et le texte selon vos besoins */
  }
  
  .accroche {
    font-family: Poppins;
    color: #F2F6F9;
    font-size: 80px;
    text-align: center; /* Ajout du centrage du texte */
    margin-right: 10%;
  }
  
  .text-home {
    font-family: Poppins;
    color: #F2F6F9;
    font-size: 40px;
    text-align: center; /* Ajout du centrage du texte */
    margin-right: 10%;
    padding-top: 40px;
  }
  

  .Apropos {
    margin-top: -50px; /* Modifier la marge supérieure selon vos besoins */
    margin-bottom: -50px; /* Modifier la marge inférieure selon vos besoins */
    margin-left: -50px; /* Modifier la marge gauche selon vos besoins */
    margin-right: -50px; /* Modifier la marge droite selon vos besoins */
    background-color: #3C4865;
  }


  .but{
    font-family: Poppins;
    color: #F2F6F9;
    font-size: 80px;
    text-align: center; /* Ajout du centrage du texte */
    padding-top: 100px;
  }

  .text-but{
    font-family: Poppins;
    color: #F2F6F9;
    font-size: 40px;
    text-align: center; /* Ajout du centrage du texte */
    padding-top: 50px;
  }


  .sectionTerre {
    margin-top: -50px; /* Modifier la marge supérieure selon vos besoins */
    margin-bottom: -50px; /* Modifier la marge inférieure selon vos besoins */
    margin-left: -50px; /* Modifier la marge gauche selon vos besoins */
    margin-right: -50px; /* Modifier la marge droite selon vos besoins */
  }
  
  .content-wrapper2 {
    align-items: center;
    margin-left: 30%;
    padding-top: 50px;
  }
  
  .tilteearth {
    font-family: Poppins;
    color: #F2F6F9;
    font-size: 80px;
    text-align: center; /* Ajout du centrage du texte */
  }

  .earth2 {
    width: 60%; /* Ajustez la taille du gif selon vos besoins */
  }

  .text-connect{
    font-family: Poppins;
    color: #F2F6F9;
    font-size: 40px;
    text-align: center; /* Ajout du centrage du texte */
    padding-top: 60px;
    margin-right: 45%;
  }

  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #232A3C;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    margin-left: 500px;
    margin-top: 100px;
}

.styled:hover {
    background-color: #3C4865;
}

.styled:active {
    box-shadow: inset -2px -2px 3px #9DA4B3, inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}